* {
    color: #fff;
}

.form-box {
    width: 100%;
    max-width: 400px;
    height: fit-content;
    margin: auto;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 12px 6px 13px 0px #000;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.form-box form {
    text-align: center;
}

.form-box h2 {
    font-weight: bold;
}

.form-box label {
    margin: 10px;
}

.form-box img {
    width: 80%;
    max-width: 320px;
    margin: 10px 20px;
}

.form-box .radio-box {
    margin: 15px 0;
}

.form-box .error {
    color: var(--error-red-light);
    font-weight: bold;
}

@media only screen and (max-width: 600px) {

    .form-box {
        max-width: initial !important;
        margin: auto !important;
        border-radius: initial;
        box-shadow: initial;
    }

}