* {
	color: #fff;
}

body {
	display: flex;
	background: linear-gradient(-45deg, rgba(255,153,0,1) 0%, rgba(255,255,255,1) 50%, rgba(255,153,0,1) 100%);
}

#box {
	width: 100%;
	max-width: 400px;
	height: fit-content;
	margin: 15px auto;    
	padding: 25px;
	border-radius: 30px;
	box-shadow: 12px 6px 13px 0px #000;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
}
form {
	text-align: center;
}

h2 {
	font-weight: bold;
}

label {
	margin: 10px;
}

img {
	width: 80%;
	margin: 10px 20px;
}

.radio-box {
	margin: 15px 0;
}

.error {
	color: #d00;
	font-weight: bold;
}

#password_strength {
	width: 100%;
	max-width: 300px;
	padding: 7px;
	margin: 10px auto;
	border: none;
}