.mobile-only {
	display: initial;
}

header {
	height: 70px;
	padding: 10px;
}

section {
	width: 100%;
	padding: 15px 25px 15px 25px;
	overflow-y: auto;
}

nav {
	z-index: 3;
	position: absolute;
	left: -200px;
	width: 200px;
	transition: left 0.3s ease-in-out;
}

nav.menu-open {
	left: 0;
}