<?xml version="1.0" encoding="UTF-8"?>

<web-app id="4Doctors" version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <display-name>4Doctors</display-name>
    <description>Webapp for patient data management. The platform will provide dedicated functions for each user:
        doctors can consult shared data while patients can access to their own medical records or reserve specific medical examinations.</description>

    <!-- SERVLETS -->

    <servlet>
        <servlet-name>CreatePatient</servlet-name>
        <servlet-class>it.unipd.dei.webapp.servlet.CreatePatientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreatePatient</servlet-name>
        <url-pattern>/create-patient</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>it.unipd.dei.webapp.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/login-user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutUser</servlet-name>
        <servlet-class>it.unipd.dei.webapp.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutUser</servlet-name>
        <url-pattern>/logout-user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Verification</servlet-name>
        <servlet-class>it.unipd.dei.webapp.servlet.VerificationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Verification</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PatientHome</servlet-name>
        <servlet-class>it.unipd.dei.webapp.servlet.PatientHomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientHome</servlet-name>
        <url-pattern>/patient-homepage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListMedicines</servlet-name>
        <servlet-class>it.unipd.dei.webapp.servlet.ListMedicinesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListMedicines</servlet-name>
        <url-pattern>/list-medicines</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrescriptionRequest</servlet-name>
        <servlet-class>it.unipd.dei.webapp.servlet.PrescriptionRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrescriptionRequest</servlet-name>
        <url-pattern>/prescription-request</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrescriptionHome</servlet-name>
        <servlet-class>it.unipd.dei.webapp.servlet.PrescriptionRequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrescriptionHome</servlet-name>
        <url-pattern>/prescriptions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrescriptionsList</servlet-name>
        <servlet-class>it.unipd.dei.webapp.servlet.ListUserPrescriptionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrescriptionsList</servlet-name>
        <url-pattern>/list-user-prescriptions</url-pattern>
    </servlet-mapping>

    <!-- FILTERS -->

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>it.unipd.dei.webapp.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <!-- <url-pattern>/protected/*</url-pattern> -->
        <url-pattern>/jsp/login.jsp</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>DoctorFilter</filter-name>
        <filter-class>it.unipd.dei.webapp.filter.DoctorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DoctorFilter</filter-name>
        <url-pattern>/protected/jsp/doctor/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PatientFilter</filter-name>
        <filter-class>it.unipd.dei.webapp.filter.PatientFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PatientFilter</filter-name>
        <url-pattern>/protected/jsp/patient/*</url-pattern>
        <url-pattern>/protected/jsp/prescriptions/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>/jsp/login.jsp</welcome-file>
    </welcome-file-list>

    <resource-ref>
        <description>Connection pool to the database</description>
        <res-ref-name>jdbc/4Doctors</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
